<!--The RatingsComponent and this html just acts as the front-end view for representing
 the Robo Assistants numeric ratings with star icons-->

<div class="iconSize" [title]="rating" [style.width.px]="iconWidth">
  <div id="starIcons">
    <span class="glyphicon glyphicon-star"></span>
    <span class="glyphicon glyphicon-star"></span>
    <span class="glyphicon glyphicon-star"></span>
    <span class="glyphicon glyphicon-star"></span>
    <span class="glyphicon glyphicon-star"></span>
  </div>
</div>
