<!--The Detail Component and this html just acts as the front-end view for displaying the Robo Assistant
  details and listing the detailed reviews and ratings-->

<div class='row'>
  <a class='btn btn-default' (click)='previousView()'>
    <i class='glyphicon glyphicon-chevron-left'></i> Robo Assistants
  </a>
</div>

<div class="row" *ngIf='roboAssistant'>

  <div class="col-md-3">
    <img class='center-block img-responsive'
         [style.width.px]='300'
         [style.margin.px]='2'
         [src]='roboAssistant.avatar'
         [title]='roboAssistant.name'>
  </div>

  <div class="col-md-5">
    <div class="row">
      <div class='col-md-4' style="font-size: 16px; font-weight: bold;color: dodgerblue;">
        <span>{{roboAssistant.name}}</span>
      </div>
      <div class='col-md-4' style="font-size: 16px; font-weight: bold;">
        <span>{{roboAssistant.model}}</span>
      </div>
    </div>

    <div class='row'><hr/></div>

    <div class='row'>
      <div class='row' style="font-size: 16px;font-weight: bold;margin-left: 10px;">
        <span><b>{{ roboAssistant.price | currency:'USD':true:'1.0-0' }}</b></span>
      </div>
    </div>


  </div>

</div>

<div class="row">
  <p style="font-size: 16px;font-weight: bold;margin-left: 25px;margin-top: 15px;"> Reviews</p>
</div>

<div *ngIf='reviewContents'>



  <div *ngFor='let content of reviewContents.content'>

    <hr/>

    <div class='row'>
      <div class='col-md-6'>
        <app-rating [rating]='content.rating'>
        </app-rating>
      </div>
    </div>

    <p>{{ content.review}}</p>


  </div>

</div>


