input[type=text] {
  width: 160px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 6px 6px 6px 20px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  margin-bottom: 5px;
}

input[type=text]:focus {
  width: 40%;
}

#heading{
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
  margin-left: 15px;
}

th{
  font-size: 16px;
  font-weight: bold;
}

img {
  width:100px;
  margin: 10px;
}

#roboName {
  margin-top: 25px;
  font-size: 16px;
  font-weight: bold;
}

#roboModel{
  margin-top: 5px;
  font-size: 14px;
  font-weight: bold;
}

#roboPrice{
  margin-top: 40px;
  font-size: 16px;
  font-weight: bold;
}
